<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CameraApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9BA173E1DD519C90062ECAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9BA17521DD519C90062ECAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9BA175D1DD519C90062ECAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
